

.card-title{
    font-weight: 300;
}

#cardview{

        margin-inline:inherit;
        padding: 5rem 1rem;
        --auto-grid-min-size: 16rem;
        display: -ms-inline-grid;
        grid-gap: 1rem;
        flex-basis: 31%;
        transition: 0.5s;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));

}

#cardview:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.card-img-center{
    width : 414px;
    height: 300px;
}

#Hirebutton{
    align-content: center;
}

