#btn-generate-report {
    background: conic-gradient(from 208.67deg at 9.44% -12.5%, #3EFFC4 0deg, #C1FFEC 123.75deg, #2B4B43 234.38deg, #3EFFC4 360deg);
    border: 3px solid rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    filter: drop-shadow(2px 5px 4px rgba(199, 199, 199, 0.25));
    width: 232px;
    height: 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.btnSearch {
    background: conic-gradient(from 208.67deg at 9.44% -12.5%, #3EFFC4 0deg, #C1FFEC 123.75deg, #2B4B43 234.38deg, #3EFFC4 360deg);
    border: 3px solid rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.imgDiv {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    box-sizing: border-box;
    width: 209px;
    height: 208px;
}

.btnRegister {
    background: conic-gradient(from 208.67deg at 9.44% -12.5%, #3EFFC4 0deg, #C1FFEC 123.75deg, #2B4B43 234.38deg, #3EFFC4 360deg);
    border: 3px solid rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-sizing: border-box;
    width: 128px;
    height: 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.btnUpdate {
    background: conic-gradient(from 208.67deg at 9.44% -12.5%, #3EFFC4 0deg, #C1FFEC 123.75deg, #2B4B43 234.38deg, #3EFFC4 360deg);
    border: 3px solid rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-sizing: border-box;
    width: 128px;
    height: 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.btnDelete {
    background: conic-gradient(from 208.67deg at 9.44% -12.5%, #3EFFC4 0deg, #C1FFEC 123.75deg, #2B4B43 234.38deg, #3EFFC4 360deg);
    border: 3px solid rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-sizing: border-box;
    width: 128px;
    height: 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.btnAddImg {
    background: conic-gradient(from 208.67deg at 9.44% -12.5%, #3EFFC4 0deg, #C1FFEC 123.75deg, #2B4B43 234.38deg, #3EFFC4 360deg);
    width: 31px;
    height: 31px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btnEditImg {
    background: conic-gradient(from 208.67deg at 9.44% -12.5%, #3EFFC4 0deg, #C1FFEC 123.75deg, #2B4B43 234.38deg, #3EFFC4 360deg);
    width: 31px;
    height: 31px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btnImgDelete {
    background: conic-gradient(from 208.67deg at 9.44% -12.5%, #3EFFC4 0deg, #C1FFEC 123.75deg, #2B4B43 234.38deg, #3EFFC4 360deg);
    width: 31px;
    height: 31px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}