@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background: #e1ecf2;
    font-family: 'Poppins';
}